/*
 * @Descripttion: 
 * @version: 
 * @Author: 松岛川树
 * @Date: 2021-08-11 16:01:13
 * @LastEditors: 松岛川树
 * @LastEditTime: 2021-08-13 14:41:05
 * @FilePath: \cnblogs-pink\css\cnblogs-pink.less
 */
* {
  padding: 0;
  margin: 0;
}
a {
  color: pink;
  text-decoration: none;
}
a:hover {
  transition: 0.5s;
  color: #da7a3a;
}
ul {
  list-style-type: none;
}
#ad_t2,
#cnblogs_c1,
#cnblogs_c2,
#under_post_card1,
#under_post_card2,
.img_ad,
.navbar {
  display: none;
}
#header #blogTitle {
  width: 100%;
  height: 30vh;
  text-align: center;
  line-height: 10vh;
  background-color: rgba(255, 192, 203, 0.596);
  color: #fff;
}
#header #blogTitle a {
  color: #fff;
}
#header #navigator {
  position: fixed;
  right: 20px;
  bottom: 100px;
}
#header #navigator ul li:nth-child(1) {
  display: none;
}
#header #navigator svg {
  background: pink;
  border-radius: 50%;
  padding: 8px;
}
#header #navigator svg:hover {
  transition: 0.5s;
  transform: scale(1.2);
  box-shadow: 6px 6px 17px pink, -6px -6px 17px #fff;
}
#header #navigator .blogStats {
  display: none;
}
#menu {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  background-image: url(https://blog-static.cnblogs.com/files/blogs/694881/menu.svg);
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
}
#sideBar {
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  background: #fff;
  display: none;
  z-index: 2;
  padding-bottom: 50px;
}
#sideBar ul {
  padding-left: 30px;
}
#sideBar #q,
#sideBar #google_q {
  margin-left: 20px;
  width: 170px;
  height: 30px;
}
#sideBar .catListTitle {
  position: relative;
  margin: 20px;
  padding-left: 10px;
  color: pink;
  border-left: 5px solid pink;
}
#sideBar #u_msg {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#sideBar #u_msg .uAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#sideBar .sideSideBar {
  width: 50px;
  height: 50px;
  background-image: url(https://blog-static.cnblogs.com/files/blogs/694881/x.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
#sideBar::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 767px) {
  #mainContent {
    width: 50vw;
  }
}
@media screen and (max-width: 767px) {
  #mainContent {
    width: 95%;
  }
  #blog_nav_newpost,
  #blog_nav_rss {
    display: block !important;
  }
}
#mainContent {
  margin: auto;
}
#mainContent .postDesc {
  font-size: 13px;
  margin-bottom: 50px;
}
#mainContent .postDesc span {
  font-size: 15px;
  margin: 20px;
}
#mainContent .day:nth-child(1) {
  margin-top: 50px;
}
#mainContent .dayTitle {
  font-size: 20px;
  border-left: 5px solid pink;
  padding-left: 10px;
}
#mainContent .c_b_p_desc_readmore {
  color: #ff8da0;
}
#home::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.36;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#home::after {
  /* background-image: url(https://api.imacroc.cn/acg/); */
  background-image: url(https://images.cnblogs.com/cnblogs_com/blogs/694881/galleries/2011285/o_210809084007banner1.jpg);
}
#footer {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  background: pink;
  color: #fff;
}
.postBody {
  margin-top: 22vh;
}
input[type="button"] {
  border: none;
  background-color: pink;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}
input[type="button"]:hover {
  transition: 0.5s;
  background-color: #f8a0af;
}
input[type="button"]:active {
  background-color: #ff778e;
}
#green_channel a:link,
#green_channel a:visited,
#green_channel a:active {
  color: #313131 !important;
}
#green_channel {
  width: 100%;
}
#green_channel a {
  position: relative;
  border: none !important;
  background: none !important;
  color: black !important;
  -moz-border-radius: none !important;
  -webkit-border-radius: none !important;
  border-radius: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#green_channel a::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: pink;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}
#green_channel a:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
#green_channel a:nth-child(4),
#green_channel a:nth-child(5) {
  display: none;
}
#loading {
  height: 100%;
  margin: 0px;
  padding: 0px;
  transition: opacity 1s;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 999999;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
}
.loading {
  position: relative;
  width: 60px;
  height: 60px;
}
.loading i {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  background: pink;
  left: 0;
  top: 0;
  opacity: 0;
}
.loading i:nth-child(1) {
  -webkit-animation: loading 1s linear 0s infinite;
  -moz-animation: loading 1s linear 0s infinite;
  -o-animation: loading 1s linear 0s infinite;
  animation: loading 1s linear 0s infinite;
}
.loading i:nth-child(2) {
  -webkit-animation: loading 2s linear 0.4s infinite;
  -moz-animation: loading 2s linear 0.4s infinite;
  -o-animation: loading 2s linear 0.4s infinite;
  animation: loading 2s linear 0.4s infinite;
}
.loading i:nth-child(3) {
  -webkit-animation: loading 2s linear 0.4s infinite;
  -moz-animation: loading 2s linear 0.4s infinite;
  -o-animation: loading 2s linear 0.4s infinite;
  animation: loading 2s linear 0.4s infinite;
}
@-webkit-keyframes loading {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes loading {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes loading {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
